

/*--------------------GLOBAL STYLES--------------------*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font: 300 14px/1.3 'Titillium Web', sans-serif;
	color: #555;
}

h1 {
	font: 300 120px/1.2 'Teko', sans-serif;
	text-transform: uppercase;
	letter-spacing: 12px;
	color: #fff;
	min-width: 810px;
}

h2 {
	font: 40px 'Teko', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	color: #000;
}

h3 {
	font: 30px 'Teko', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #000;
	margin-top: 5px;
}

a {
	font: 20px 'Teko', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	text-decoration: none;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}




/*--------------------HEADER--------------------*/

header {
	background-color: #fff;
	position: fixed;
	z-index: 100;
	width: 100%;
	opacity: .95;
}

.header-content {
	width: 60%;
	min-width: 810px;
	margin: 0 auto;
}

.logo, .logo img {
	float: left;
	width: 55px;
	height: 55px;
}

.main-navigation {
	float: right;
	margin-top: 20px;
}

.main-navigation li {
	display: inline-block;
	margin-left: 20px;
}

.main-navigation a {
	font: 400 16px 'Titillium Web', sans-serif;
	text-transform: none;
	letter-spacing: 0px;
	color: #a3a3a3;
}

.active a { 
	color: #f63c3c;
	padding-bottom: 17px;
	border-bottom: solid #f63c3c 2px;
}




/*--------------------HERO CAROUSEL--------------------*/

.hero {
	background-color: black;
	position: relative;
}

.carousel {
	text-align: center;
	position: relative;
}

.carousel h1, .carousel p, .carousel a {
	width: 65%;
	margin: 0 auto;
}

.carousel p {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.3;
	width: 36%;
	margin: 15px auto 40px;
	min-width: 550px;
	color: #B2B2B2;
}

.carousel a {
	display: block;
	width: 160px;
	height: 35px;
	margin: 0 auto;
	padding-top: 9px;
	background-color: #fff;
	color: #000;
}

.carousel-image-1 {
	padding: 210px 0 230px;
	background: url(../img/bkgd.jpg) center center no-repeat;
	background-size: cover;
}
 
 .carousel-image-2,  .carousel-image-3,  .carousel-image-4 {
 	display: none;
 }

.carousel-nav {
	position: absolute;
    top: 727px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

 .carousel-nav li {
 	display: inline-block;
 	background-color: rgba(255, 255, 255, .22);
 	width: 28px;
 	height: 3px;
 	margin: 0 3px;
 }

 .carousel-nav li.active {
	background-color: rgba(255, 255, 255, 1);
 }



/*--------------------MY PROJECTS--------------------*/

.my-projects {
	width: 98%;
	min-width: 800px;
	margin: 0 auto;
}

.my-projects h2 {
	margin: 30px auto 20px;
}

.my-projects article {
	width: 49.5%;
	display:inline-block;
	text-align: center;
}

.my-projects article figure {
	position: relative;
}

.my-projects img {
	width: 100%;
}

.my-projects p {
	margin: 0 auto 25px;
	max-width: 364px;
	line-height: 1.3;
}

figcaption {
	font: 300 24px/1.2 'Teko', sans-serif;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #fff;
	background-color: #f63c3c;
	border: 11px solid #352d2f;
	width: 100%;
	height: 97.5%;
	position: absolute;
	top: 0;
	opacity: 0;
}

.my-projects figcaption p { 
	font-size: 18px;
	margin-top: 35px;
}
.my-projects figcaption p, .my-projects figcaption h4 {
	position: relative;
  	top: 50%;
  	transform: translateY(-130%);
}

figcaption:hover {
	opacity: 1;
}

.tesla-article, .stuhrling-article {
	margin-right:.7%;
}

.more-projects {
	margin: 0 auto 52px;
	width: 154px;
	display: block;
	color: #f63c3c;
	border-bottom: solid #f63c3c 2px;
}




/*--------------------CALL TO ACTION--------------------*/

.call-to-action {
	background-color: #f63c3c;
	height: 180px;
	text-align: center;
	padding-top: 38px;
	min-width: 800px;
}

.call-to-action h2 {
	margin: 0 0 4px;
	color: #fff;
	font-weight: 300;
}

.call-to-action p {
	color: #fbc2c2;
	margin-bottom: 14px;
}

.call-to-action a {
	display: block;
	background-color: #fff;
	color: #685157;
	width: 189px;
	height: 35px;
	margin: 14px auto 0;
	padding-top: 8px;
}



/*--------------------STAY CONNECTED--------------------*/

aside { 
	background-color: #fafafa;
	padding: 45px 0 43px;
}

aside h2 {
	text-align: left;
	letter-spacing: 4px;
}

aside ul {
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	margin-top: 42px;
}

aside li {
	background-color: #30282a;
	width: 189px;
	height: 136px;
	padding-top: 36px;
}

aside a { 
	display: block;
}

.connected { 
	width: 45%;
	margin: 0 auto;
	min-width: 800px;
}

.social { 
	font: 300 30px 'Teko', sans-serif;
	color: #fff;
}

.fa {
	font-size: 35px;
	color: #fff;
	margin-bottom: 10px;
}




/*--------------------FOOTER--------------------*/

footer {
	width: 800px;
	height: 52px;
	padding-top: 17px;
	font-size: 13px;
	margin: 0 auto;
}

footer p {
	width: 60%;
}



