

/*--------------------GLOBAL STYLES--------------------*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font: 300 14px/1.3 'Titillium Web', sans-serif;
	color: #555;
}

h1 {
	font: 300 120px/1.2 'Teko', sans-serif;
	text-transform: uppercase;
	letter-spacing: 12px;
	color: #fff;
	/*min-width: 810px;*/
}

h2 {
	font: 40px 'Teko', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	color: #000;
}

h3 {
	font: 30px 'Teko', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #000;
	margin-top: 5px;
}

a {
	font: 20px 'Teko', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	text-decoration: none;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}




/*--------------------HEADER--------------------*/


.header-content {
	width: 70%;
	min-width: 800px;
	margin: 0 auto;
}

.logo, .logo img {
	float: left;
	width: 70px;
	height: 70px;
}

.main-navigation {
	float: right;
	margin-top: 30px;
}

.main-navigation li {
	display: inline-block;
	margin-left: 40px;
}

.main-navigation a {
	font: 400 16px 'Titillium Web', sans-serif;
	text-transform: none;
	letter-spacing: 0px;
	color: #a3a3a3;
}

.active a { 
	color: #f63c3c;
	padding-bottom: 14px;
	border-bottom: solid #f63c3c 2px;
}




/*--------------------HERO CAROUSEL--------------------*/

.hero {
	background-color: black;
	min-width: 800px;
	min-height: 900px;
	height: 900px;
}

.carousel, .carousel ul{
	text-align: center;
	position: relative;
	height: 100%;
}

.carousel-content {
	width: 80%;
	position: absolute;
	top: 50%;	
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.carousel p {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.3;
	width: 63%;
	margin: 15px auto 40px;
	min-width: 550px;
	color: #B2B2B2;
}

.carousel a {
	display: block;
	width: 230px;
	height: 50px;
	margin: 0 auto;
	padding-top: 12px;
	background-color: #fff;
	color: #000;
}

.carousel-image-1 {
	background: url(../img/bkgd.jpg) center center no-repeat;
	background-size: cover;
	height: 100%;
}
 
 .carousel-image-2,  .carousel-image-3,  .carousel-image-4 {
 	display: none;
 }

.carousel-nav {
	position: absolute;
   	left: 50%; 
   	-webkit-transform: translateX(-50%);
   	-moz-transform: translateX(-50%);
   	-o-transform: translateX(-50%);
   	transform: translateX(-50%);
    margin: 0 auto;
    bottom: 30px;
}

 .carousel-nav li {
 	display: inline-block;
 	background-color: rgba(255, 255, 255, .22);
 	width: 40px;
 	height: 4px;
 	margin-right: 10px;
 }

 .carousel-nav li:last-child {
	margin-right: 0;
 }

 .carousel-nav li.active {
	background-color: rgba(255, 255, 255, 1);
 }



/*--------------------MY PROJECTS--------------------*/

.my-projects {
	min-width: 800px;
}

.my-projects h2 {
	margin: 30px auto 20px;
}

.my-projects article {
	width: 48.5%;
	margin-right: 1%;
	float: left;
	text-align: center;
}

.my-projects article:nth-child(even) {
	margin-left: 1%;
}

.my-projects article figure {
	position: relative;
}

.my-projects article img {
	width: 100%;
	height: auto;
}

.my-projects p {
	margin: 0 auto 25px;
	width: 76%;
	line-height: 1.3;
}

figcaption {
	background-color: #f63c3c;
	border: 11px solid #352d2f;
	width: 100%;
	height: 99%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.figcaption-content { 
	font: 300 24px/1.2 'Teko', sans-serif;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.figcaption-content p { 
	font-size: 18px;
	margin-top: 35px;
	width: 100%;
}

figcaption:hover {
	opacity: 1;
}

.more-projects {
	min-width: 800px;
}
.more-projects a {
	margin: 20px auto 60px;
	width: 187px;
	display: block;
	color: #f63c3c;
	border-bottom: solid #f63c3c 2px;
}




/*--------------------CALL TO ACTION--------------------*/

.call-to-action {
	background-color: #f63c3c;
	text-align: center;
	padding-top: 38px;
	padding-bottom: 50px;
	min-width: 800px;
}

.call-to-action h2 {
	margin: 0 0 4px;
	color: #fff;
	font-weight: 300;
}

.call-to-action p {
	color: #fbc2c2;
	margin-bottom: 14px;
}

.call-to-action a {
	display: block;
	background-color: #fff;
	color: #685157;
	width: 270px;
	height: 50px;
	margin: 14px auto 0;
	padding-top: 12px;
}



/*--------------------STAY CONNECTED--------------------*/

.stay-connected { 
	background-color: #fafafa;
	padding: 45px 0 43px;
}

.stay-connected h2 {
	text-align: left;
	letter-spacing: 4px;
}

.stay-connected ul {
	display: flex;
	display:-webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	margin-top: 42px;
}

.stay-connected li {
	background-color: #30282a;
	width: 189px;
	height: 136px;
	padding-top: 36px;
}

.stay-connected a { 
	display: block;
}

.connected { 
	width: 45%;
	margin: 0 auto;
	min-width: 800px;
}

.social { 
	font: 300 30px 'Teko', sans-serif;
	color: #fff;
}

.fa {
	font-size: 35px;
	color: #fff;
	margin-bottom: 10px;
}




/*--------------------FOOTER--------------------*/

footer {
	width: 800px;
	height: 100%;
	padding-top: 25px;
	font-size: 13px;
	margin: 0 auto;
	height: 75px;
}

footer p {
	width: 60%;
	font-size: 13px;
}



